* {
  margin: 0;
  padding: 0; }

#canvas {
  background: grey; }

.actions {
  position: fixed;
  bottom: 2px;
  left: 2px; }

.actions > #brush {
  display: none; }

.actions.x > #eraser {
  display: none; }

.actions.x > #brush {
  display: inline-block; }
