*{
    margin: 0;
    padding: 0;
}
ol{
    list-style: none;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 body{
     overflow: hidden;
 }
 #canvas{
    position: fixed;
    top: 0;
    left: 0;
 }
.actions{
    position: fixed;
    top: 0px;
    left: 0px;
}
.actions>svg{
    width: 30px;
    height: 30px;
    margin:20px 15px;
    transition: all 0.3s;
}
.actions>.active{
    transform:scale(1.2);
    color: red;
}
.colors{
    position:fixed;
    top:60px;
    left: 0px;
}
.colors>li{
    width: 20px;
    height:20px;
    margin:20px;
    border-radius: 50%;
    border:1px solid grey;
    transition:all 0.2s; 
}
.colors>.active{
    transform:scale(1.2)
}
.colors>.black{
    background: black;
}
.colors>.red{
    background: red;
}
.colors>.green{
    background: green;
}
.colors>.blue{
    background: blue;
}
.line{
    position:fixed;
    top:0;
    right: 0;
    margin: 0 20px;
}
.line>li{
    margin:30px 0;
}
.line>.thin{
    width: 30px;
    border-top: 5px solid black; 
}
.line>.thick{
    width: 30px;
    border-top: 10px solid black; 
}